@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 95%;
    --foreground: 215 28% 17%;
    --muted: 210 20% 94%;
    --muted-foreground: 210 10% 39%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 28% 17%;
    --card: 0 0% 100%;
    --card-foreground: 215 28% 17%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --primary: 222 84% 5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 0 0% 100%;
    --accent: 219.62 78.16% 50.68%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --ring: 215.09 100% 50%;
    --chart-1: 210.57 86.12% 49.6%;
    --chart-2: 244.53 100% 62.28%;
    --chart-3: 226.42 100% 50.66%;
    --chart-4: 215 28% 20%;
    --chart-5: 208.3 86.12% 45.88%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 215 28% 17%;
    --foreground: 0 0% 100%;
    --muted: 215 28% 25%;
    --muted-foreground: 215 28% 80%;
    --popover: 215 28% 19%;
    --popover-foreground: 0 0% 100%;
    --card: 215 28% 19%;
    --card-foreground: 0 0% 100%;
    --border: 215 28% 25%;
    --input: 215 28% 25%;
    --primary: 212 34% 12%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 215 28% 17%;
    --accent: 219.62 78.16% 50.68%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --ring: 215.09 100% 50%;
    --chart-1: 210.57 86.12% 49.6%;
    --chart-2: 244.53 100% 62.28%;
    --chart-3: 226.42 100% 50.66%;
    --chart-4: 0 0% 103%;
    --chart-5: 208.3 86.12% 45.88%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}